ctg-evaluate
ctg-list-parameters
ctg-print-polynomial
ctg-propagate-uncertainty
ctg-sample-mcmc
ctg-scan-mc
integrated
observables
ctg-find-mode
ctg-list-constraints
ctg-list-observables
ctg-list-signal-pdfs
ctg-sample-events-mcmc
ctg-list-references
